input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
    background-size: cover;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-image: url(./img/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "East Sea Dokdo", cursive;
}
.container{
    text-align: center;
    background-color: rgba(247, 243, 242, 0.7);
    border-radius: 40px;
    border: 10px solid white;
    padding: 10px;
    width: 50%;
}
.title{
    color:black;
    font-size: 80px;
    margin: 0;
}
.subtitle{
    font-size: 50px;
}
.redtxt{
    color: red;
}
.result{

}
.main-img{
    width: 70%;
    height: 400px
}
.resulttxt{
    font-size: 40px;
    color: red;
    margin: 10px 0;
}
.inputinfo{
    margin-bottom: 20px;
}
.chances-area{
    font-size: 40px;
    margin-bottom: 10px;
}
.userinput{
    width: 45%;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    font-size: 30px;
    font-family: "East Sea Dokdo", cursive;
}
.play-button{
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    border: none;
    font-family: "East Sea Dokdo", cursive;
    margin-right: 20px;
    padding: 0 10px;
}
.reset-button{
    background-color: rgb(248, 168, 7);
    border-radius: 10px;
    color: black;
    border: none;
    font-size: 30px;
    font-family: "East Sea Dokdo", cursive;
}
@media screen and (max-width: 1200px){
    body{
        background-size: contain;
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .redtxt{
        color: red;
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 400px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 20px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}
@media screen and (max-width: 770px){
    body{
        background-position: center; 
        background-size: contain;
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .redtxt{
        color: red;
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 400px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 20px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}
@media screen and (max-width: 480px){ 
    body{
        background-position: center; 
        background-size: contain;
    }
    .container{
        width: 85%;
    }
    .title{
        color:black;
        font-size: 80px;
        margin: 0;
    }
    .subtitle{
        font-size: 50px;
        margin: 0;
    }
    .redtxt{
        color: red;
        display: flex;
        flex-direction: column;
    }
    .result{
    
    }
    .main-img{
        width: 70%;
        height: 400px
    }
    .resulttxt{
        font-size: 35px;
        color: rgb(7, 7, 7);
        margin: 10px 0;
    }
    .inputinfo{
        margin-bottom: 20px;
    }
    .chances-area{
        font-size: 40px;
        margin-bottom: 0px;
    }
    .userinput{
        padding: 8px;
        font-size: 20px;
    }
    .play-button{
        padding: 0 10px;
    }
    .reset-button{
        
    }
}